body, input {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
}


h1{
	background-image: url('icon_64.png');
	background-repeat: no-repeat;
	line-height: 64px;
	text-indent:70px;
	vertical-align: middle;			
	font-size: 175%;
}

.options-table {
	background-color: #f4f6fc;
	border-bottom: 1px solid #EDEFF5;
}

.options-table h2 {
	border-top: 1px solid #b5c7de;
	margin: 0;
	font-size: inherit;
	background-color: #ebeff9;	
	line-height: 20px;
	vertical-align: middle;		
	padding-left:6px;
	font-weight: bold;
}

.option-group table {
	margin:6px;
	border-collapse: collapse
}

td.option-name {
	width: 13em;
	vertical-align: top;
	line-height: 14pt
}

.option-help {
	font-style: italic;
	font-size: 8pt;
	color: gray;
}

#optionsSavedMessage {
	position:fixed;
	background-color: #e3ffbd;	
	border: 1px solid #10c71e;
	width:24em;
	margin-left:-12em;
	padding:.5em;
	left:50%;
	top:50px;
	text-align:center;
}

.options-buttons {
	width:100%;
	border-collapse: collapse
}

.credit {
	color: gray;
}

.credit a {
	color: gray;
	font-weight: bold
}